{
  "tabWidth": 2,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "useTabs": true,
  "importOrder": [
  "^(next/(.*)$)|^(next$)",
  "<THIRD_PARTY_MODULES>",
  "next-seo.config",
  "^components/(.*)$",
  "^utils/(.*)$",
  "^assets/(.*)$",
  "^@fontsource/(.*)$",
  "^[./]"
],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}